# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# =========================
# ML Models (Large Files)
# =========================
*.h5
*.weights.h5
*.keras
*.ckpt
*.pb

# =========================
# Frontend (Node)
# =========================
node_modules/
dist/
build/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db